body {
    font-family: Calibri;
}

nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
}

label.logo {
    color: ghostwhite;
    font-size: 20px;
    font-family: Calibri;
    line-height: 70px;
    padding: 0 40px;
    font-weight: bold;
}

.menu{
    float: left;
    margin-left: 40px;
}

    .link { 
        display: inline-block;
        line-height: 40px;
        margin: 0 2px;
    }

        .link ul li a {text-decoration-color:white;
            font-size:17px;
            border-radius: 3px;
            padding:7px 13px;
            text-transform: uppercase;
      
        }
        a:hover{
            background: #1b9bff;
            transition: .5s;
        }
