.carousel{
    position: relative;
    height: 300px;
    width: 80%;
    margin:auto 50px;

}
.carousel_image {
    width: 100%;
    height:100%;
    object-fit:cover;
}
.carousel_track-container {
    background: #ffd800;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}
.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.carousel_button {
    position:absolute;
    top: 40%;
    height: 20%;
    transform: translateY(80%);
    background: transparent;
    border:groove;
    cursor: pointer;
}
.carousel_button--LEFT{
    left: -25px;

}
.carousel_button--RIGHT{
    right: -10px;
}
.carousel_button img {
    width: 12px;
}
.carousel_nav {
    background:gold;
    display: flex;
    justify-content:center;
    padding: 10px;
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px; 
    height: 15px;
    background: darkgrey;
    margin: 0 12px;
}
.carousel_indicator.current-slide {
    background: grey;
}
.is-hidden{display:none;}




