
.carousel{
    position: relative;
    height: 400px;
    width: 50%;
    margin: 0 auto;

}
.carousel_track-container {
    background: green;
    padding-right: 20px;
    padding-left:20px;
    height: 100%;  
    position: relative;
}
.carousel_track {
    padding: 0;
    margin: 0;
    list-style: none;
}
.carousel_slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%
}

.carousel_button {
    position:absolute;
    top: 50%;
    transform: translateY(20%);
    background: transparent;
    border:inset;
    cursor: pointer;
}
.carousel_button--LEFT{
    left: -10px;

}
.carousel_button--RIGHT{
    right: -10px;
}
.carousel_button img {
    width: 15px;
}
.carousel_nav {
    background:pink;
    display: flex;
    justify-content:center;
    padding: 10px;
}

.carousel_indicator {
    border: 0;
    border-radius: 50%;
    width: 15px; 
    height: 15px;
    background: darkgrey;
    margin: 0 12px;
}
.carousel_indicator.current-slide {
    background: grey;
}
.carousel_image {
    width: 5%;
    height: 30%;
    object-fit: cover;
}

